h1, h2 {
    font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.toolbar-title > div {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.padded {
    padding: 48px;
}

.container.padded-top {
    padding-top: 48px;
}

.container.padded-bottom {
    padding-bottom: 48px;
}

.header {
    color: white;
    background-image: url("../statics/desktop_slice.png");
    background-position: center;
    background-size: cover;
    padding: 100px 20px;
}

.header h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
}

.card-outline {
    border: 1px solid lightgray;
    border-radius: 3px;
}

footer {
    padding: 12px;
    background: #222;
    color: #ddd;
}

footer p:last-child {
    margin: 0;
}

.text-medium {
    font-size: 18px;
    font-size: 1.15rem;
}

@media only screen and (max-width: 1000px) {
    .lt-md-1-5-column {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    h2.responsive {
        font-size: 2.8rem;
    }
}