.toolbar-title > div {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container.padded {
    padding-top: 48px;
}

.header {
    color: white;
    background-image: url("../statics/desktop_slice.png");
    background-position: center;
    background-size: cover;
    padding: 100px 20px;
}

.card-outline {
    border: 1px solid lightgray;
    border-radius: 3px;
}